#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
 }

 #contact-info {
  margin-top: 40px;
  background: #d3ae77;
 }

 .container {
  margin: auto;
  /* max-width: 1100px; */
  overflow: auto;
  padding: 0 20px;
}

.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}

.box i {
  margin-bottom: 10px;
}